div {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 1100px;
    background: #2b2727;
}

#backgroundStyle {
    width: 105%;
    height: 105%;
    background-size: 100% 100%;
    position: fixed;
    overflow: scroll;
}

.images {
    width: 57%;
    height: 100px;
    min-width: 70px;
}

.content-info {
    font: bold 19px Gotham Rounded;
    color: white;
    text-align: center;
}

.content-info div {
    position: relative;
    top: 30px;
}

li.dropdown ul.dropdown-menu {
    background: #101010;
}

li.dropdown ul.dropdown-menu li a {
    color: white;
    font: bold 18px Helvetica Neue;
}

li.dropdown ul.dropdown-menu li a:hover {
    color: white;
    font: bold 18px Helvetica Neue;
    background: #e67300;
}

#moreInfo {
    position: absolute;
    top: 150px;
    background: grey;
    border-radius: 8px;
    height: 700px;
    padding: 30px;
}

#radar {
    position: relative;
    height: 150px;
    left:15%;
}

.testing {
    color: green;
    font-family: Gotham Rounded;
    font-size: 40px;
    font-weight: 500;
}

 .weatherImage {
     height: 30px;
     width: 20px;
 }

.row1 {
    margin-bottom: 70px;
    font-family: Gotham Rounded;
    font-size: 19px;
    font-weight: 500;
}

.row2 {
    margin-bottom: 70px;
    font-family: Gotham Rounded;
    font-size: 19px;
    font-weight: 500;
}

#moreInfo div.typicalFont {
    font-family: Gotham Rounded;
    font-size: 19px;
    font-weight: 500;
    color: black;
}

#moreInfo div.row3 {
    height: 45%;
}

#moreInfo .row3 .lastContainer {
    height: 100%;
    text-align: center;
}

 #conditions {
     position: relative;
     left: 40%;
     font-family: Gotham Rounded;
     font-size: 25px;
 }

 .panels {
     position: relative;
     width: 80%;
     left: 10%;
 }

 .panel-body .row {
     margin-bottom: 10px;
 }

 .dayRow {
     font-family: Gotham Rounded;
     font-size: 20px;
     font-weight: 600;
     color: orange;
 }

 .nightRow {
     font-family: Gotham Rounded;
     font-size: 20px;
     font-weight: 600;
     color: #00FFFF;
 }