body {
    min-height: 1100px;
    background: #2b2727;
}

#moreInfo {
    position: absolute;
    top: 150px;
    background: grey;
    border-radius: 8px;
    height: 700px;
    padding: 30px;
    font-family: Gotham Rounded;
    font-size: 19px;
    font-weight: 600;
    color: black;
}

#radar {
    position: relative;
    height: 150px;
    left:15%;
}

.testing {
    color: green;
    font-size: 40px;
}

.row1 {
    min-height: 120px;
}

.row2 {
    min-height: 230px;
}

.panels > img {
    width: 30px;
    height: 30px;
}

.row3 {
    height: 45%;
    padding-top: 50px;
    text-align: center;
}

#conditions {
    position: relative;
    left: 40%;
    font-size: 20px;
}

.panels {
    position: relative;
    width: 80%;
    left: 10%;
}

.panel-body > .row {
    font-family: Gotham Rounded;
    font-size: 20px;
    font-weight: 600;
    min-height: 50px;
    margin-bottom: 10px;
}

.dayRow {
    color: orange;
}

.nightRow {
    color: #00FFFF;
}
 
#listOfPlaces{
    position: relative;
    top: 10%;
    width: 20%;
    margin: auto;
}

.tabLocation{
    width: 100%;
}